@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ------ Général ------ */

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ------ Typographie ------ */

h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 77px;
  color: #fdf9f2;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  color: #fdf9f2;
  margin-bottom: 10px;
  margin-top: 0px;
}

h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #fdf9f2;
}

h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #fdf9f2;
  padding-bottom: 0px;
}

h5 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fdf9f2;
}

p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 30px;
  color: #fdf9f2;
  margin-top: 10px;
}

/* ------ Bouton ------ */

.btnRond {
  color: #fdf9f2;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  padding: 15px 25px;
  border: 1px solid #fdf9f2;
  border-radius: 30px;
  text-decoration: none;
}

.btnRond:hover {
  color: #2c2c2c;
  background-color: #fdf9f2;
}

/* ------ Header ------ */

header {
  padding: 20px 0;
}

nav li {
  display: inline-block;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;
  z-index: 100;
}

.nav__link {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.2s linear;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #fdf9f2;
  text-align: right;
}

.nav__link:after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #fdf9f2;
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: all 0.2s linear;
}

.nav__link:hover:after {
  width: 100%;
}

/* ------ Hero ------ */

.big-image {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("../img/hero.png");
}

/*page services */

.services-header {
  background-color: #2C2C2C;
}

.services-section {
  margin-top: 60px;
}

.card-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.service-card {
  background-color: rgb(0, 0, 0);
  width: 380px;
  height: 560px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 20px;
  border-radius: 25px;
}

.service-card-image {
  border-radius: 25px;
  width: 341px;
  height: 250px;
}

.p-small {
  font-size: 12pt;
  font-weight: 100;
  line-height: 14pt;
}

.testimony-card {
  width: 250px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 20px;
  border-radius: 25px;
}

.testimony-card-image {
  border-radius: 80px;
  width: 160px;
  height: 160px;
}

.card-flex h4 {
  margin-bottom: 0;
}



/*---------------*/

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ------ Bloc Vidéo ------ */

.background-charcoal {
  background-color: #2c2c2c;
  padding-top: 80px;
  padding-bottom: 80px;
}

.splitscreen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

video {
  margin-left: 40px;
  border-radius: 25px;
  pointer-events: none;
}

/* ------ Footer ------ */
.background-noir {
  background-color: #000000;
  padding-top: 40px;
  padding-bottom: 40px;
}